body{
	text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size:14px;
    line-height: 14px;
    background: #000;
    color: #fff;
}
#container{
	width: 960px;
	margin: 20px auto;
	background: black;	
	padding-top: 5px;
}
#header{
    height: 50px;    
    line-height: 50px;
}
h1{
    font-size: 36px;
}
img{
  vertical-align: middle;
  margin-bottom:0.25em;
}
.hidden{
    display: none;
}
#tooltip{
    font-size: 16px;    
    position: absolute;
    width: 180px;
    height: auto;
    padding: 10px;        
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
       -moz-box-shadow: 0 8px 6px -6px #ccc;
            box-shadow: 0 8px 6px -6px #ccc;
    background: #222;
    color:#fff;    
    text-align: left;
    opacity: 0.7;
    line-height: 20px;
}
.label{
    font-weight: bold;
}
svg{
    margin-top: 20px;
}
svg path{    
  stroke: #000;      
}

